@font-face {
  font-family: 'SVN-Neusa'; /*a name to be used later*/
  src: url('./Resouce/font/SVN-Neusa.ttf'); /*URL to font*/
}
body {
    margin: 0;
    overflow: auto;
    text-align: center;
    font-size: 3vmin;
    background-color: #b6a6a6;
    background-image: url("./Resouce/image/back_ground.png")
  }
  
left {
  width: 49%;
  height: 100vh;
  overflow-y: auto;
  overflow : hidden;
  font-size: 16vmin;
  word-wrap: break-word;
  display: inline-block;
  border: 5px solid black;
  border-radius: 20px;
  border-right-width: 2.5px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  user-select: none;
}

.left-div{
  color: rgb(56, 52, 52);
}

right {
  width: 49%;
  height: 100vh;
  overflow-y: auto;
  font-size: 2vmin;
  word-wrap: break-word;
  display: inline-block;
  border: 5px solid black;
  border-radius: 20px;
  border-left-width: 2.5px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  user-select: none;  
}

h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'SVN-Neusa';
  font-weight: 300;
  font-size: 30px;
  color: white !important; 
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}


.header h1 {
  text-align: center;
  font-size:40px; font-weight:00; color:#222; letter-spacing:1px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
  user-select: none;
  }
  
.header h1:after,.header h1:before {
  content: " ";
  display: block;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  height: 5px;
  background-color:#f8f8f8;
}